<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Altec Sistemas</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css}">
<link rel="stylesheet"
	th:href="@{/OwlCarousel2-2.3.4/docs/asset/owlcarousel/assets/owl.theme.default.min.css}">



<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script
	src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</head>




<header th:insert="/fragments/header :: menu-principal"> </header>




<body>


	<div class="container-fluid m-0 p-0 ">



		<div class="row">


			<div
				class="m-0 p-0 principalIndex col-12  justify-content-around align-content-center d-flex align-items-center">

				<div class="card cardPrincipal" style="width: 40rem;">



					<div class="card-body">
						<h2 class="card-title text-center">Altec Sistemas</h2>

						<h3 class="card-text text-center">Soluciones informaticas y
							Administrativas</h3>

					</div>
				</div>
			</div>
		</div>


		<div class="row ">


			<div
				class="m-0 p-0 secundarioIndex col-12 justify-content-around align-content-center d-flex align-items-center">

				<div class="text-center p-4  col-md-6 col-sm-12">

					<h2 class="p-2  ">
						<strong>Nosotros</strong>
					</h2>
					<h3 class="font-italic
					">¿ Quienes somos ?</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
						delectus laudantium iure, perspiciatis consequuntur optio numquam
						obcaecati sunt earum ut tempora eum maxime possimus saepe quos
						eaque esse laborum ipsum!</p>

				</div>

			</div>

		</div>
		<div class="row ">

			<div
				class="text-center col-12 justify-content-around align-content-center d-flex align-items-center">
				<div
					class=" col-md-6 col-sm-12 d-flex flex-wrap justify-content-center p-2 mt-2">

					<div class="col-md-3 col-sm-6 m-1" id="cardProyect">
						<a data-fancybox="gallery" th:href='@{/images/cert.jpg}'> <img
							class="img-fluid  imagenHover" th:src='@{/images/cert.jpg}'>
						</a>
					</div>


					<div class="col-md-3 col-sm-6 m-1" id="cardProyect">
						<a data-fancybox="gallery" th:href='@{/images/cert2.jpg}'> <img
							class="img-fluid imagenHover" th:src='@{/images/cert2.jpg}'>

						</a>
					</div>

					<div class="col-md-3 col-sm-6 m-1" id="cardProyect">
						<a data-fancybox="gallery" th:href='@{/images/cert3.jpg}'> <img
							class="img-fluid imagenHover" th:src='@{/images/cert3.jpg}'>
						</a>
					</div>

					<div class="col-md-3 col-sm-6 m-1" id="cardProyect">
						<a data-fancybox="gallery" th:href='@{/images/cert4.jpg}'> <img
							class="img-fluid imagenHover" th:src='@{/images/cert4.jpg}'>
						</a>
					</div>

					<div class="col-md-3 col-sm-6 m-1" id="cardProyect">
						<a data-fancybox="gallery" th:href='@{/images/cert5.jpg}'> <img
							class="img-fluid imagenHover" th:src='@{/images/cert5.jpg}'>
						</a>


					</div>


				</div>
			</div>
		</div>



	</div>







	<div class=" serviciosImagen col-md-6 col-sm-12  "></div>
	<div class="row m-4 p-4">


		<div
			class=" m-0 p-2  col justify-content-end align-content-center d-flex  ">




			<div class="text-center  col-md-12 col-sm-12 ">

				<h2 class="py-4 my-4 di">
					<strong>SERVICIOS</strong>
				</h2>
				<h3>¿ Que tipo de servicios ofrecemos ?</h3>
				<p></p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
				delectus laudantium iure, perspiciatis consequuntur optio numquam
				obcaecati sunt earum ut tempora eum maxime possimus saepe quos eaque
				esse laborum ipsum!


			</div>


		</div>

	</div>


	<div class="row">

		<div
			class="m-0 p-0  secundarioIndex col-12 justify-content-around align-content-center d-flex align-items-center">


			<div class=" rounded  text-center  mt-4 col-md-8  col-sm-12"
				style="background: #d3e1ef">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs  " id="serviciosIndex">
					<li class="nav-item"><a class="nav-link active"
						data-toggle="tab" href="#home">Contabilidad</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu1">Facturacion</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu2">Soluciones Informaticas</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu2">Sistemas de Seguridad</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu2">Soporte Tecnico</a></li>

					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu2">Puntos de venta</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#menu2">Consumibles y Accesorios</a></li>

				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane container active mt-4" id="home">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Omnis, perferendis doloremque ipsam nulla dolor fugit sint eaque
							repudiandae vel? Porro excepturi maxime dolorem laborum inventore
							maiores exercitationem eveniet optio voluptas?</p>
					</div>
					<div class="tab-pane container fade mt-4" id="menu1">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Omnis, perferendis doloremque ipsam nulla dolor fugit sint eaque
							repudiandae vel? Porro excepturi maxime dolorem laborum inventore
							maiores exercitationem eveniet optio voluptas?</p>
					</div>
					<div class="tab-pane container fade mt-4" id="menu2">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Omnis, perferendis doloremque ipsam nulla dolor fugit sint eaque
							repudiandae vel? Porro excepturi maxime dolorem laborum inventore
							maiores exercitationem eveniet optio voluptas?</p>
					</div>
				</div>
			</div>
		</div>

	</div>



	<div class="row pt-4 mt-4">
		<div class="col-12">
			<h4 class="text-center">¡ Algunos de nuestros Productos !</h4>
			<hr>
		</div>
		<!-- Set up your HTML -->

		<div
			class="m-0 p-0 secundarioIndex col justify-content-end align-content-center d-flex  ">


			<div class="owl-carousel owl-theme">
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/kinston.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/asus.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/hp.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/zebra.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/brother.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/canon.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/dell.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/epson.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/intel.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/amd.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/nvidia.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/gigabyte.png}">
				</div>

				<div class="item">
					<img class="" style="height: 100px; width: 300px;"
						th:src="@{/images/mifa.jpeg}">
				</div>
			</div>
		</div>

	</div>


	<div class="row pt-4 mt-4">
		<div class="col-12">
			<h4 class="text-center">¡ Las mejores marcas !</h4>
			<hr>
		</div>
		<!-- Set up your HTML -->

		<div
			class="m-0 p-0 secundarioIndex col justify-content-end align-content-center d-flex  "
			style="height: 300px;">


			<div class="owl-carousel owl-theme">
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/kinston.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/asus.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/hp.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/zebra.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/brother.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/canon.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/dell.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/epson.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/intel.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/amd.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/nvidia.png}">
				</div>
				<div class="item">
					<img class="" style="height: 100px; width: 100px;"
						th:src="@{/images/gigabyte.png}">
				</div>

				<div class="item">
					<img class="" style="height: 100px; width: 150px;"
						th:src="@{/images/mifa.jpeg}">
				</div>
			</div>
		</div>

	</div>




	<footer class="mt-4 pt-4" th:insert="/fragments/footer ::piePagina">
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

	<script
		th:src="@{/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js}"></script>


	<script th:src="@{/js/irArriba.js}"></script>

	<script th:src="@{/js/carousel.js}"></script>
</body>





</html>